.navbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  margin-top: 0px;
  margin-left: 10%;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navList li {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none !important;
  color: black !important;
}
